.board {
    width: 300px;
    padding: 20px;
    background-color: #EBECF0;
    border-radius: 5px;
    margin: 10px; 
}

.cardContainer {
    padding-top: 10px;
}


h2 {
    font-size: 17px;
    color: #252B47;
    padding: 8px 0;
}


.buttons {
    display: flex;
    flex-direction: row;
}

.addBtn {
    width: 100%;
    border-color: transparent;
    color: rgb(122, 123, 128);
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
    padding: 8px;
    background-color: #EBECF0;
}

.addBtn:hover,
.addBtn:focus,
.addBtn:active {
    background-color: #e3e5e9;
    color: #181b29;
    outline: none;
}

.cancelBtn {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 10px 0 0 0;
    cursor: pointer;
    color: rgb(122, 123, 128);
}
.cancelBtn:hover,
.cancelBtn:focus,
.cancelBtn:active {
    color: #181b29;
    outline: none;
}

.newTaskInput {
    width: 260px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75); 
}
