.page .board .newTaskInput, .page .board .card-container .titleChangeBox .titleBox {
  font-family: Helvetica, sans-serif;
  font-size: inherit;
  width: 260px;
  font-size: 15px;
  position: relative;
  border-radius: 5px;
  border-color: transparent;
  padding: 8px;
  color: #22273a;
  resize: none;
  height: auto;
}

.page .board .newTaskInput:focus, .page .board .card-container .titleChangeBox .titleBox:focus {
  outline: none;
}

.page .board .addBtn, .page .board .saveBtn, .page .board .cancelBtn, .page .board .card-container .titleChangeBox .saveBtn, .page .newListBtn {
  font-size: 15px;
  border: none;
  font-weight: 400;
  border-radius: 90px;
  background: #ededed;
  -webkit-box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
          box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
  cursor: pointer;
  color: #787c80;
  outline: none;
}

.page .board .addBtn:active, .page .board .addBtn:hover, .page .board .addBtn:focus, .page .board .saveBtn:active, .page .board .saveBtn:hover, .page .board .saveBtn:focus, .page .board .cancelBtn:active, .page .board .cancelBtn:hover, .page .board .cancelBtn:focus, .page .board .card-container .titleChangeBox .saveBtn:active, .page .board .card-container .titleChangeBox .saveBtn:hover, .page .board .card-container .titleChangeBox .saveBtn:focus, .page .newListBtn:active, .page .newListBtn:hover, .page .newListBtn:focus {
  -webkit-box-shadow: inset 26px 26px 41px #c5c5c5, inset -26px -26px 41px #ffffff;
          box-shadow: inset 26px 26px 41px #c5c5c5, inset -26px -26px 41px #ffffff;
  color: #252B47;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

.displayed {
  display: inline-block;
}

html, body {
  background-color: #ededed;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ededed;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Helvetica, sans-serif;
  overflow-x: scroll;
  padding: 20px;
}

.page #dimmer {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: #edededb6;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
}

.page .board {
  min-width: 300px;
  padding: 10px;
  background-color: #EBECF0;
  margin: 10px;
  float: left;
  border-radius: 30px;
  background: #ededed;
  -webkit-box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
          box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
  color: #22273a;
}

.page .board h2 {
  font-size: 17px;
  color: #252B47;
  padding: 10px 20px;
}

.page .board .cardContainer {
  padding-top: 10px;
}

.page .board .newTaskInput {
  width: 270px;
  margin-bottom: 15px;
  margin-left: 5px;
  z-index: 10;
  border-radius: 15px;
  background: #ededed;
  -webkit-box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
          box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
  padding: 10px 15px;
}

.page .board .addBtn {
  width: 260px;
  margin: 10px;
  padding: 15px 20px;
  z-index: 10;
}

.page .board .newListInput {
  width: 80%;
  display: block;
  margin: 15px auto;
  padding: 15px 20px;
  font-size: 15px;
  outline: none;
  border-radius: 50px;
  background: #e0e0e0;
  border: none;
  -webkit-box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
          box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
}

.page .board .saveBtn {
  width: 40%;
  padding: 10px;
  margin: 15px 20px;
}

.page .board .cancelBtn {
  width: 30%;
  padding: 10px;
  margin: 15px 20px;
}

.page .board .card-container {
  position: relative;
}

.page .board .card-container .card {
  background-color: #ededed;
  color: #22273a;
  font-size: 15px;
  padding: 20px;
  border-radius: 16px;
  margin: 0 5px 15px 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
          box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
}

.page .board .card-container .card .title {
  word-break: break-all;
}

.page .board .card-container .card .renameBtn {
  color: gray;
  background: #edededb6;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  float: right;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  position: absolute;
  right: 10px;
  top: 12px;
}

.page .board .card-container .card .renameBtn:hover, .page .board .card-container .card .renameBtn:focus, .page .board .card-container .card .renameBtn:active {
  color: #22273a;
  outline: none;
}

.page .board .card-container .card .renameBtn i {
  padding: 8px;
  font-size: 13px;
}

.page .board .card-container .titleChangeBox {
  position: absolute;
  top: 0;
  bottom: 46px;
  width: 270px;
  z-index: 20;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.page .board .card-container .titleChangeBox .titleBox {
  min-height: 50px;
  height: auto;
  width: 270px;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
          box-shadow: 11px 11px 25px #7b7b7b, -11px -11px 25px #ffffff;
  background-color: #ededed;
}

.page .board .card-container .titleChangeBox .saveBtn {
  margin-top: 30px;
  z-index: 20;
  position: absolute;
  right: 0;
  bottom: 0;
}

.page .newListBtn {
  min-width: 260px;
  margin: 10px 5px;
  padding: 20px;
}
/*# sourceMappingURL=App.css.map */