.newListInput {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    color: #22273a;
    outline: none;
    border-color: rgb(66, 66, 158);
    border-radius: 4px;
}

.newListInput::placeholder {
    color: #22273a;
}