.newListInput {
    width: 80%;
    display: block;
    margin: 15px auto;
    padding: 8px;
    font-size: 15px;
    outline: none;
    border: 5px inset #ededed;
    border-radius: 4px;
}

.newListInput::placeholder {
    color: #22273a;
}